<p>form works!</p>

<div class="row">
    <div class="col-xs-12 col-lg-12">
        <form (ngSubmit)="onSubmit(f)" #f="ngForm">
            <div class="row">
                <div class="col-sm-12 col-md-4 form-group">
                    <label for="car-brand">Samochód</label>
                    <input id="car-brand" type="text" class="form-control" name="carBrand" ngModel>
                </div>
                <div class="col-sm-12 col-md-4 form-group">
                    <label for="car-description">Opis zamówienia</label>
                    <input id="car-description" type="text" class="form-control" name="carDescription" ngModel>
                </div>
                <div class="col-sm-12 col-md-4 form-group">
                    <label for="car-amount">Ilość</label>
                    <input id="car-amount" type="number" class="form-control" carAmount ngModel>
                </div>
             </div>
             <hr>
             <div class="row">
                <div class="col-xs-12 col-lg-12">
                    <div class="row">
                        <div class="col-sm-12 col-md-4 form-group">
                        </div>
                        <div class="col-sm-12 col-md-4 form-group">
                            <button class="btn btn-success" type="submit">Dodaj</button>
                            <button class="btn btn-danger" type="button">Usuń</button>
                            <button class="btn btn-primary" type="button" (click)="onClear()">Wyczyść</button>
                        </div>
                        <div class="col-sm-12 col-md-4 form-group">
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <table class="table table-hover">
        <thead>
            <h5>Samochody</h5>
            <tr>
                <th>Marka</th>
                
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let car of car_list">
                <td>{{car}}</td>
               
            </tr>
        </tbody>
    </table>
</div>
